.spotify-connect-button {
  display: flex;
  padding: 19px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 125px;
  background: #00FF4D;
}

.spotify-connect-button:hover {
  background-color: #1ed760;
  transform: translateY(-2px);
}